@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins:wght@300&family=Roboto:ital,wght@0,700;1,500&display=swap');

@font-face {
  font-family: 'EBGaramond-Medium';
  src: url(/assets/fonts/ebgaramond/EBGaramond-Medium.ttf);
  
}

@font-face {
  font-family: 'EBGaramond-Medium-italic';
  src: url(/assets/fonts/ebgaramond/EBGaramond-MediumItalic.ttf);
  
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


:root {
  --font-family-primary: 'Noto Sans JP', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;
  --font-family-tercery:'Roboto', sans-serif;
  --color-header: #010001;
  --color-primary:#FFFFFF;
  --cor-secundary:#28282A;
  ---color-titleBrinde:#FF0000;
  --color-hover-menu:rgb(99, 90, 90);
  ---font-family-EBGaramound:'EBGaramond-Medium', sans-serif,
  ---font-family-EBGaramoundItalic:'EBGaramond-Medium-italic';
}


html {
  scroll-behavior: smooth;
 
}



#nav.active {
  display: block;
  /* ou qualquer outro estilo que você deseje aplicar para exibir o menu */
}


.menu-hidden {
  display: none;
}


body,
ul {
  margin: 0px;
  padding: 0px;
  
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background:var(--color-hover-menu) ;
}

#logo {
  width: 100%;
}

#header {
  box-sizing: border-box;
  height: 80px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:rgb(0, 0, 0);
width: 100%;

  
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  font-family: var(--font-family-tercery);
}

#menu a:hover {
  color: red;
}


.conatiner-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  justify-content: center;
}

h1, p{
  align-items: center;
  margin-bottom: 1.6rem;
  text-align: center;
  
}

.title-produtos{
  margin-right: 1.5rem;
 font-family: var(---font-family-EBGaramound);
}

.p-masculinos{
  font-size: 2.0rem;
  margin-left: -2.0rem;
  font-family: var(--font-family-primary);
}

.article-fragrancias{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fragrancias-olfativas{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.subtitulo-h2{
 text-align: center;
 font-family: var(---font-family-EBGaramound);
 margin:1.0rem auto;
 font-size: 1.5rem;
 margin-bottom: 1.0rem;
}

.brindes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20.0rem;
  background-color: var(--cor-secundary);
  margin-bottom: 2.5rem;
}

.subtitle-brinde{
  font-size: 2.4rem;
  color: var(---color-titleBrinde);
  font-family: var(--font-family-tercery);
  font-weight: 1.0rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.0rem;
}

.p-perfume{
  color: var(--color-primary);
  font-family: var(--font-family-tercery);
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

.fake-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.fake-button:hover {
  background-color: #333;
  color: #f2f2f2;
}

@media (max-width: 600px) {
  @media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: black;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
  }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(182, 179, 179, 0.925);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color: white;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: white;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
  
  .promocao{
    width: 500px;
  height: 150px;
  margin-top: -10px;
  background-color: #A6A6A6;
}